.debug .container > [class^="col-"] {
  background: #ffc0cb;
  border: 1px solid #000;
}

.debug .container > [class^="col-"] > [class^="col-"]  {
  background: #f07f80;
  border: 1px solid #ffc0cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 20vh;
}

[class^="col-"] {
  height: 100%;
  position: relative;
}

.container > [class^="col-"] {
  padding: 2px;
}

[class^="col-"] p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
